.idea*
*.iml
*.class
ccr/app/build
ccr/build
ccr/.gradle
ccr/bin/*
ccr/gen/*
ccr/Car-Cast.iml
ccr/build.properties
ccr/local.properties
ccr/.classpath
ccr/.project
ccr/.settings
ccr/ant.properties
${out.packaged.file}.d
${out.packaged.file}
